<div style="margin:7%"></div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% @modules.each do |mod| %>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= mod.name %></h3>
          </div>
          <div class="panel-body">
            <% mod.chapters.each do |chapter| %>
              <ul>
                <li><%= link_to chapter.name, course_course_module_chapter_path(@course, mod, chapter) %></li>
              </ul>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>