<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New user Registered !!</h1>
    <h3>Total number of user till now: <%= User.count %></h3>
  </body>
</html>