<h1>Editing Course Module</h1>

<%= render 'form', course_module: @course_module %>

<%= link_to 'Show', admins_course_module_path(@course_module) %> |
<%= link_to 'Back', admins_course_modules_path %>
