<!--Footer-->
<footer id="footer" class="footer">
  <div class="container text-center">
    <ul class="social-links">
      <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
      <li><a href="https://www.facebook.com/nsdigitalsolution/" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
      <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
    </ul>
    ©2017 NextStep Digital Solution. All rights reserved
    <div class="credits">
      <i class="fa fa-envelope"></i> <a href="#">info@nsdigitalsolution.com</a><br>
      <i class="fa fa-map-marker"></i> <a href="#">201-A, Plot No. 359, Behind Country Inn Hotel, Indore, Madhya Pradesh (452001)</a>
    </div>
  </div>
</footer>
<!--/ Footer-->